## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [16]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
data['sex'].value_counts()
men = data['sex'] == 'Male'
women = data['sex'] == 'Female'
print(men.value_counts()[1])
print(women.value_counts()[1])

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
data['age'].where(data['sex'] == 'Male').mean()

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
us_citizens_count = data['native-country'].value_counts().get('United-States', 0)
total_records = len(data)
us_citizens_percentage = us_citizens_count / total_records
print(f"Доля граждан Соединенных Штатов: {us_citizens_percentage:.2%}")

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [6]:
high_income_group = data[data['salary'] == '>50K']
low_income_group = data[data['salary'] == '<=50K']

avg_age_high_income = high_income_group['age'].mean()
std_age_high_income = high_income_group['age'].std()

avg_age_low_income = low_income_group['age'].mean()
std_age_low_income = low_income_group['age'].std()

print(f"Средний возраст для тех, кто получает более 50K: {avg_age_high_income:.2f}")
print(f"Среднеквадратичное отклонение возраста для тех, кто получает более 50K: {std_age_high_income:.2f}\n")

print(f"Средний возраст для тех, кто получает менее 50K: {avg_age_low_income:.2f}")
print(f"Среднеквадратичное отклонение возраста для тех, кто получает менее 50K: {std_age_low_income:.2f}")

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
unique_education_levels = data['education'].unique()

for education_level in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']:
    if education_level not in unique_education_levels:
        print(f"Уровень образования {education_level} отсутствует в данных.")

high_income_education = data[data['salary'] == '>50K']['education']

non_matching_education = high_income_education[
    ~high_income_education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]

if non_matching_education.empty:
    print("Все люди, получающие более 50K, имеют минимум высшее образование.")
else:
    print("Есть люди, получающие более 50K, с уровнем образования, не соответствующим заданным.")
    print(non_matching_education)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
age_statistics = data.groupby(['sex', 'race'])['age'].describe()
print(age_statistics)

max_age_asian_pac_islander_male = data[(data['race'] == 'Asian-Pac-Islander') & (data['sex'] == 'Male')]['age'].max()
print(f"\nМаксимальный возраст мужчин расы Asian-Pac-Islander: {max_age_asian_pac_islander_male}")

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
married_condition = data['marital-status'].str.startswith('Married')
high_income_condition = data['salary'] == '>50K'

married_men = data.loc[married_condition & (data['sex'] == 'Male')]
single_men = data.loc[~married_condition & (data['sex'] == 'Male')]

married_high_income_percentage = married_men.loc[high_income_condition, 'age'].shape[0] / married_men.shape[0]
single_high_income_percentage = single_men.loc[high_income_condition, 'age'].shape[0] / single_men.shape[0]

if married_high_income_percentage > single_high_income_percentage:
    print("Среди женатых мужчин доля зарабатывающих много больше.")
else:
    print("Среди холостых мужчин доля зарабатывающих много больше.")

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
max_hours_per_week = data['hours-per-week'].max()
people_working_max_hours = data[data['hours-per-week'] == max_hours_per_week]
percentage_high_income_max_hours = (people_working_max_hours['salary'] == '>50K').mean()
print(f"Максимальное количество часов в неделю: {max_hours_per_week}")
print(f"Количество людей, работающих {max_hours_per_week} часов в неделю: {len(people_working_max_hours)}")
print(f"Процент зарабатывающих много среди них: {percentage_high_income_max_hours:.2%}")

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
people_high_income = data['salary'] == '>50K'
people_low_income = data['salary'] == '<=50K'

average_working_hours_by_country_high_income = data[people_high_income].groupby('native-country')[
    'hours-per-week'].mean()
average_working_hours_by_country_low_income = data[people_low_income].groupby('native-country')['hours-per-week'].mean()

print(average_working_hours_by_country_high_income)
print(average_working_hours_by_country_low_income)

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
age_bins = [16, 35, 70, 100]
age_labels = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=age_bins, labels=age_labels, right=False)
data.head()

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
income_counts_by_age_group = data[data['salary'] == '>50K'].groupby('AgeGroup').size()
print(income_counts_by_age_group)
most_common_income_group = income_counts_by_age_group.idxmax()
print(f"\nВозрастная группа, в которой чаще зарабатывают >50K: {most_common_income_group}")

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
occupation_counts = data.groupby('occupation').size()
print("Количество людей в каждой группе (по типу занятости):")
print(occupation_counts)

def filter_func(group):
    return (group['age'].mean() <= 40) and (group['hours-per-week'].min() > 5)

filtered_groups = data.groupby('occupation').filter(filter_func)

print("\nГруппы, в которых средний возраст не больше 40 и все работники отрабатывают более 5 часов в неделю:")
print(filtered_groups.groupby('occupation').size())