## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [45]:
import pandas as pd

In [46]:
# загружаем датасет
data = pd.read_csv("data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [47]:

gender_counts = data['sex'].value_counts()
gender_df = pd.DataFrame({
    'gender': gender_counts.index,
    'count': gender_counts.values
})
print(gender_df)

   gender  count
0    Male  21790
1  Female  10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [48]:
data['age'].where(data['sex'] == 'Male').mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [49]:
us_citizens_count = (data['native-country'] == 'United-States').sum()
total_records = len(data)
us_citizens_percentage = (us_citizens_count / total_records) * 100
print(f"Доля граждан Соединенных Штатов: {us_citizens_percentage:.2f}%")

Доля граждан Соединенных Штатов: 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [50]:
high_income_group = data[data['salary'] == '>50K']
low_income_group = data[data['salary'] == '<=50K']

avg_age_high_income = high_income_group['age'].mean()
std_age_high_income = high_income_group['age'].std()

avg_age_low_income = low_income_group['age'].mean()
std_age_low_income = low_income_group['age'].std()

print(f"Средний возраст для тех, кто получает более 50K: {avg_age_high_income:.2f}")
print(f"Среднеквадратичное отклонение возраста для тех, кто получает более 50K: {std_age_high_income:.2f}\n")

print(f"Средний возраст для тех, кто получает менее 50K: {avg_age_low_income:.2f}")
print(f"Среднеквадратичное отклонение возраста для тех, кто получает менее 50K: {std_age_low_income:.2f}")

Средний возраст для тех, кто получает более 50K: 44.25
Среднеквадратичное отклонение возраста для тех, кто получает более 50K: 10.52

Средний возраст для тех, кто получает менее 50K: 36.78
Среднеквадратичное отклонение возраста для тех, кто получает менее 50K: 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [51]:
unique_education_levels = data['education'].unique()

for education_level in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']:
    if education_level not in unique_education_levels:
        print(f"Уровень образования {education_level} отсутствует в данных.")

high_income_education = data[data['salary'] == '>50K']['education']

non_matching_education = high_income_education[
    ~high_income_education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]

if non_matching_education.empty:
    print("Все люди, получающие более 50K, имеют минимум высшее образование.")
else:
    print("Есть люди, получающие более 50K, с уровнем образования, не соответствующим заданным.")
    print(non_matching_education)

Есть люди, получающие более 50K, с уровнем образования, не соответствующим заданным.
7             HS-grad
10       Some-college
27       Some-college
38       Some-college
55       Some-college
             ...
32510         HS-grad
32518         HS-grad
32519    Some-college
32557         HS-grad
32560         HS-grad
Name: education, Length: 3306, dtype: object

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [52]:
age_statistics = data.groupby(['sex', 'race'])['age'].describe()
print(age_statistics)

max_age_asian_pac_islander_male = data[(data['race'] == 'Asian-Pac-Islander') & (data['sex'] == 'Male')]['age'].max()
print(f"\nМаксимальный возраст мужчин расы Asian-Pac-Islander: {max_age_asian_pac_islander_male}")

                             count       mean        std   min   25%   50%  \
sex    race
Female Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
       Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
       Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
       Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
       White                8642.0  36.811618  14.329093  17.0  25.0  35.0
Male   Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
       Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
       Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
       Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
       White               19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
sex    race
Female Amer-Indian-Eskimo  46.00  80.0
       Asian-Pac-Islander  43.75  75.0
       Black               46.00  90.0
       Other               39.00  74.0
       White               46.00  90.0
Male   Amer-Indian-Eskimo  45.00  82.0
       Asian-Pac-Islander  46.00  90.0
       Black               46.00  90.0
       Other               42.00  77.0
       White               49.00  90.0

Максимальный возраст мужчин расы Asian-Pac-Islander: 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [53]:
married_condition = data['marital-status'].str.startswith('Married')
high_income_condition = data['salary'] == '>50K'

married_men = data.loc[married_condition & (data['sex'] == 'Male')]
single_men = data.loc[~married_condition & (data['sex'] == 'Male')]

married_high_income_percentage = married_men.loc[high_income_condition, 'age'].shape[0] / married_men.shape[0]
single_high_income_percentage = single_men.loc[high_income_condition, 'age'].shape[0] / single_men.shape[0]

print(f"Доля зарабатывающих много среди женатых мужчин: {married_high_income_percentage:.2%}")
print(f"Доля зарабатывающих много среди холостых мужчин: {single_high_income_percentage:.2%}")

if married_high_income_percentage > single_high_income_percentage:
    print("Среди женатых мужчин доля зарабатывающих много больше.")
else:
    print("Среди холостых мужчин доля зарабатывающих много больше.")

Доля зарабатывающих много среди женатых мужчин: 44.05%
Доля зарабатывающих много среди холостых мужчин: 8.45%
Среди женатых мужчин доля зарабатывающих много больше.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [54]:
max_hours_per_week = data['hours-per-week'].max()
people_working_max_hours = data[data['hours-per-week'] == max_hours_per_week]
percentage_high_income_max_hours = (people_working_max_hours['salary'] == '>50K').mean()
print(f"Максимальное количество часов в неделю: {max_hours_per_week}")
print(f"Количество людей, работающих {max_hours_per_week} часов в неделю: {len(people_working_max_hours)}")
print(f"Процент зарабатывающих много среди них: {percentage_high_income_max_hours:.2%}")

Максимальное количество часов в неделю: 99
Количество людей, работающих 99 часов в неделю: 85
Процент зарабатывающих много среди них: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [55]:
import pandas as pd

people_high_income = data['salary'] == '>50K'
people_low_income = data['salary'] == '<=50K'

average_working_hours_by_country_high_income = data[people_high_income].groupby('native-country')[
    'hours-per-week'].mean().reset_index(name='average_hours_per_week_high_income')

average_working_hours_by_country_low_income = data[people_low_income].groupby('native-country')[
    'hours-per-week'].mean().reset_index(name='average_hours_per_week_low_income')

result_df = pd.merge(average_working_hours_by_country_high_income, average_working_hours_by_country_low_income,
                     on='native-country', how='outer')

print(result_df)

                native-country  average_hours_per_week_high_income  \
0                            ?                           45.547945
1                     Cambodia                           40.000000
2                       Canada                           45.641026
3                        China                           38.900000
4                     Columbia                           50.000000
5                         Cuba                           42.440000
6           Dominican-Republic                           47.000000
7                      Ecuador                           48.750000
8                  El-Salvador                           45.000000
9                      England                           44.533333
10                      France                           50.750000
11                     Germany                           44.977273
12                      Greece                           50.625000
13                   Guatemala                           36.666667
14                       Haiti                           42.750000
15                    Honduras                           60.000000
16                        Hong                           45.000000
17                     Hungary                           50.000000
18                       India                           46.475000
19                        Iran                           47.500000
20                     Ireland                           48.000000
21                       Italy                           45.400000
22                     Jamaica                           41.100000
23                       Japan                           47.958333
24                        Laos                           40.000000
25                      Mexico                           46.575758
26                   Nicaragua                           37.500000
27                        Peru                           40.000000
28                 Philippines                           43.032787
29                      Poland                           39.000000
30                    Portugal                           41.500000
31                 Puerto-Rico                           39.416667
32                    Scotland                           46.666667
33                       South                           51.437500
34                      Taiwan                           46.800000
35                    Thailand                           58.333333
36             Trinadad&Tobago                           40.000000
37               United-States                           45.505369
38                     Vietnam                           39.200000
39                  Yugoslavia                           49.500000
40          Holand-Netherlands                                 NaN
41  Outlying-US(Guam-USVI-etc)                                 NaN

    average_hours_per_week_low_income
0                           40.164760
1                           41.416667
2                           37.914634
3                           37.381818
4                           38.684211
5                           37.985714
6                           42.338235
7                           38.041667
8                           36.030928
9                           40.483333
10                          41.058824
11                          39.139785
12                          41.809524
13                          39.360656
14                          36.325000
15                          34.333333
16                          39.142857
17                          31.300000
18                          38.233333
19                          41.440000
20                          40.947368
21                          39.625000
22                          38.239437
23                          41.000000
24                          40.375000
25                          40.003279
26                          36.093750
27                          35.068966
28                          38.065693
29                          38.166667
30                          41.939394
31                          38.470588
32                          39.444444
33                          40.156250
34                          33.774194
35                          42.866667
36                          37.058824
37                          38.799127
38                          37.193548
39                          41.600000
40                          40.000000
41                          41.857143

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [56]:
age_bins = [16, 35, 70, 100]
age_labels = ['young', 'adult', 'retiree']
data['AgeGroup'] = pd.cut(data['age'], bins=age_bins, labels=age_labels, right=False)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [57]:
income_counts_by_age_group = data[data['salary'] == '>50K'].groupby('AgeGroup', observed=False).size()
print(income_counts_by_age_group)

most_common_income_group = income_counts_by_age_group.idxmax()
print(f"\nВозрастная группа, в которой чаще зарабатывают >50K: {most_common_income_group}")

AgeGroup
young      1488
adult      6240
retiree     113
dtype: int64

Возрастная группа, в которой чаще зарабатывают >50K: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [58]:
occupation_counts = data.groupby('occupation').size()
print("Количество людей в каждой группе (по типу занятости):")
print(occupation_counts)

def filter_func(group):
    return (group['age'].mean() <= 40) and (group['hours-per-week'].min() > 5)

filtered_groups = data.groupby('occupation').filter(filter_func)

print("\nГруппы, в которых средний возраст не больше 40 и все работники отрабатывают более 5 часов в неделю:")
print(filtered_groups.groupby('occupation').size())

Количество людей в каждой группе (по типу занятости):
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

Группы, в которых средний возраст не больше 40 и все работники отрабатывают более 5 часов в неделю:
occupation
Armed-Forces    9
dtype: int64